---

import { fetchGraphQL } from "../lib/wp";
import { InformacionGlobal } from "../lib/queries/global.ts";
import { navegacionPrincipal, enlacesInteres, horarios } from '../components/footer/_FooterLinks';

import FooterColumnaContacto from '../components/footer/FooterColumnaContacto.astro';
import FooterColumnaEnlaces from '../components/footer/FooterColumnaEnlaces.astro';
import FooterCopyright from '../components/footer/FooterCopyright.astro';

export interface Props {
    logoUri: string;
    logoAlt: string;
    telefono: string;
    email: string;
}
const { logoUri, logoAlt, telefono, email } = Astro.props;

const nombreDesarrollador = "EbanoCompany";
const urlDesarrollador = "https://www.ebanocompany.com/";


let logoPath: string | null = null;
if (logoUri) {
    const WP_BASE_URL = import.meta.env.WORDPRESS_API_URL.replace("/graphql", "");
    logoPath = `${WP_BASE_URL}${logoUri}`;
}

const enlacesFinal = enlacesInteres.map(link => {
    if (link.label === "Correo Corporativo") {
        return { ...link, href: `mailto:${email}` };
    }
    return link;
});

---

<footer class="bg-gray-100 text-gray-800 pt-12 pb-4 font-sans border-t border-gray-300">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">

        <div
        class="grid grid-cols-1 gap-10 md:grid-cols-4 md:gap-8 justify-items-center md:justify-items-start"
        >
            <FooterColumnaContacto 
                logoPath={logoPath}
                logoAlt={logoAlt}
                telefono={telefono}
                email={email}
                horarios={horarios}
            />

            <FooterColumnaEnlaces 
                title="Navega" 
                links={navegacionPrincipal} 
            />
            
            <FooterColumnaEnlaces 
                title="Documentos y Leyes" 
                links={enlacesFinal} 
            />


        </div>
        
        <FooterCopyright 
            urlDesarrollador={urlDesarrollador} 
            nombreDesarrollador={nombreDesarrollador} 
        />
    </div>
</footer>