---
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";
import '../styles/global.css';

import { fetchGraphQL } from '../lib/wp.ts';
import { InformacionGlobal } from '../lib/queries/global.ts';

const data = await fetchGraphQL(InformacionGlobal);
const nodoGlobal = data?.allInformacionGlobal?.edges?.[0]?.node;
const datosGlobales = nodoGlobal?.datosGlobales;

const logoNavbar = datosGlobales?.logoNavbar?.node?.uri || "/logo-default.png";
const logoFooter = datosGlobales?.logoFooter?.node?.uri || "/logo-default.png";
const logoFooterAlt = datosGlobales?.logoFooter?.node?.altText || "Logo Concejo";
const telefono = datosGlobales?.telefono || "3117539517";
const email = datosGlobales?.email || "concejomedioatrato@hotmail.com";

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const brandName = "Concejo del Medio Atrato";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo_concejo1.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
			integrity="..." 
			crossorigin="anonymous" 
			referrerpolicy="no-referrer" 
		/>
		<title>{title} | {brandName}</title>
		<meta
		name="description"
		content= {description || "Sitio web oficial del Concejo Municipal Medio Atrato."}
		/>
		<meta
		name="keywords"
		content="Concejo, Municipal, Medio, Atrato, Sitio, Web, Oficial, Medio Atrato"
		/>
		<meta name="author" content={ brandName ||"Concejo Municipal Medio Atrato"} />
		<meta name="robots" content="index, follow" />
		<meta property="og:title" content={title} />
		<script type="application/ld+json">
			{
			"@context": "https://schema.org",
			"@type": "GovernmentOrganization",
			"name": "Concejo Municipal Medio Atrato",
			"description": "Sitio web oficial del Concejo Municipal del Medio Atrato, Chocó. Consulte normativa, actas y procesos de participación ciudadana."
			}
		</script>
	</head>
	<body class="min-h-screen flex flex-col">
		<Header logoUri={logoNavbar} />
		<main>
			<slot class="flex-grow pt-16 lg:pt-20"/>
		</main>
		<Footer 
			logoUri={logoFooter} 
            logoAlt={logoFooterAlt} 
            telefono={telefono} 
            email={email}
		/>
	</body>
</html>


