---
export interface Props {
	title: string;
	description: string;
	currentPage?: string;
}

const { title, description, currentPage } = Astro.props;
const brandName = "Concejo del Medio Atrato";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title} | {brandName}</title>
		<meta
		name="description"
		content={description || "Sitio web oficial del Concejo Municipal Medio Atrato."}
		/>
		<meta name="keywords" content="Concejo, Municipal, Medio, Atrato, Oficial, {title}" />
		<meta name="author" content="{brandName}" />
		<meta name="robots" content="index, follow" />
		<meta property="og:title" content={title} />
		<script type="application/ld+json">
			{
			"@context": "https://schema.org",
			"@type": "GovernmentOrganization",
			"name": "Concejo Municipal Medio Atrato",
			"url": "https://[TU_DOMINIO_PRINCIPAL].com", 
			"logo": "https://[TU_DOMINIO_PRINCIPAL].com/[RUTA_DE_TU_LOGO].svg",
			"description": "Sitio web oficial del Concejo Municipal del Medio Atrato, Chocó. Consulte normativa, actas y procesos de participación ciudadana.",
			"contactPoint": {
				"@type": "ContactPoint",
				"contactType": "Información",
				"email": "[CORREO_OFICIAL_DEL_CONCEJO]", 
				"telephone": "[TELEFONO_DEL_CONCEJO]" 
			}
			}
		</script>
  	</head>
  	<body>
    	<slot />
  	</body>
</html>

<style is:global>
  @import "tailwindcss";
  @plugin "@midudev/tailwind-animations";

  body {
    background: #ffffff;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
